extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
      small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      //- 이미지에 있는 에러 메시지 출력 부분
      .error= message
      
      //- 요청하신 Angular 컴포넌트 태그 (빨간 박스 부분)
      app-home-list

    .col-12.col-md-4
      p.lead= sidebar

// Angular 빌드 파일 참조 (사용자의 실제 파일명 유지)
block scripts
  script(src='/build/runtime.e4985b6c090739db.js')
  script(src='/build/polyfills.05600847d04151be.js')
  script(src='/build/main.bcea5bafbfa29b62.js')