extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title +"2021810009 kim dooyoung"

  .row
    .col-12.col-md-8
      
      form(action=`/location/${locationid}/review/new`, method="post", role="form")
      
        if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="name") Name
          .col-12.col-sm-10
            input#name.form-control(name="name")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="rating") Rating
          .col-12.col-sm-2
            select#rating.form-control.input-sm(name="rating")
              option 5
              option 4
              option 3
              option 2
              option 1
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="review") Review
          .col-12.col-sm-10
            textarea#review.form-control(name="review", rows="5")
        // [수정] 버튼에 type="submit" 추가
        button.btn.btn-primary.float-end(type="submit") Add my review
        
    .col-12.col-md-4
      // [수정] small 태그가 .col-12.col-md-4의 자식이 되도록 들여쓰기
      small &copy; 2021810009 kimdooyoung