//- app_server/views/_includes/sharedHTMLfunctions.pug

//- 평점(rating) 숫자를 받아 별 아이콘으로 변환하는 믹스인
mixin outputRating(rating)
  - for (let i = 1; i <= rating; i++)
    i.fas.fa-star
  - for (let i = rating; i < 5; i++)
    i.far.fa-star

//- 날짜 문자열을 예쁜 형식으로 변환하는 믹스인
mixin formatDate(dateString)
  - const date = new Date(dateString);
  - const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  - const d = date.getDate();
  - const m = monthNames[date.getMonth()];
  - const y = date.getFullYear();
  - const output = `${d} ${m} ${y}`;
  =output